@charset "UTF-8";
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 1%;
}

/* link styles */

a {
  text-decoration: none;
}

/* header styles */
header {
  color: white;
  background-color: rgb(184, 212, 198);
  background-size: cover; 
  text-align: center;
  height: 15em;
  grid-area: banner;
  margin:0;
  font-family: Georgia, serif;
  text-transform: uppercase;

}
header p {
  font-size: 1.2em;
}
header h1 {
  margin-top: 2%;
  padding-top: 2em;
  color: #ffffff;
}

/* nav styles */
nav, footer {
  font-family: Verdana, sans-serif;
  background-color: #fdfdfd;
}

nav ul li a {

  padding: 1em;
  margin-top: 0;
}
nav ul li a:link, nav ul li a:visited {
  color: black;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #fff;
}
nav ul {
  margin: 5em 0;
  padding: 1em;
  list-style-type: none;
}
nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  display: inline-block;
  
}

/* main styles */
main {
  font-family: Verdana, sans-serif;
  background-color: #ffffff;
  color: white;
  padding: 1em;
  grid-area: main;
}

h2, h3 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-left: 1em;
  margin-top: 2.5em;
  font-family: 'Stint Ultra Expanded', Georgia, serif;
}
h4 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: .2em;
  padding-left: 1em;
  margin-top: 2.5em;
}
ul li {
  color:rgb(0, 0, 0);
  list-style-type: circle;
  line-height: 180%;
  padding-left: 0.5em;
}
p {
  color: rgb(0, 0, 0);
  padding-left: 3em;
  }

main img {
  float: left;
  margin: 0 1em 1em 0;
}

.responsive {
  max-width: 100%;
  height: auto;
}

/* aside styles */
aside {
  background-color: #ffffff;
  padding: 1em;
  /*padding-left: 45px;*/
  grid-area: aside;
  overflow: hidden;
}

aside img {
  width: 30%;
  float:left;
  padding: 1em;
}

/* map styles */

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* footer */
footer {
  color: #EADDC4;
  text-align: center;
  font-size: .8em;
  padding: 1em;
  grid-area: footer;
}

@media only screen and (max-width: 767px) {
  body {
    font-family: Verdana, sans-serif;
    background-color: darkgrey;
  }
  h1, h2, h3 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-left: 1em;
    margin-top: 2.5em;
  }
  footer {
  font-family: Arial;
  }
  nav ul li{
  list-style-type: none;
  display: inline;
  }
  
  nav ul li a:hover, a.active{
    background-color: rgb(160, 160, 160);
    border-radius: 15px;
    }
}

@media only screen and (min-width: 768px) {
    body {
      font-family: Verdana, sans-serif;
      background-color: darkgrey;
    }
    h1, h2, h3 {
      color: rgb(0, 0, 0);
      text-transform: uppercase;
      letter-spacing: .2em;
      padding-left: 1em;
      margin-top: 2.5em;
    }
    footer {
    font-family: Arial;
    }
    nav ul li{
    list-style-type: none;
    display: inline;
    }
    
    nav ul li a:hover, a.active{
      background-color: rgb(160, 160, 160);
      border-radius: 15px;
      }
}


@media screen and (min-width: 940px) {

  body {
    font-family: Verdana, sans-serif;
    background-color: darkgrey;
  }
    #container {
      display: grid;
      grid-template-rows: auto auto 5em;
      grid-template-columns: minmax(25em, 1fr) 16em;
      grid-template-areas: "banner banner" "main aside" "footer footer";
      gap: 1em;
    }
    nav ul {
      
      padding: 0;
      display: flex;
      justify-content: center;
      z-index: 100;
    }
    nav ul li a {
      display: block;
      padding: 2em;
      margin-top: 0;
    }
    header h1 {
      margin: 0;
      /*margin-top: 3%;*/
    }
  
    header {
        height: 22em;
    }

    aside img {
      width: 100%;
      display: inline-block;
    }

    nav {
      margin-top: 10em;
    }
    nav ul li a:hover, a.active{
      background-color: rgb(193, 193, 193);
      border-radius: 15px;
      }
}  

@media only screen and (min-width: 1200px) {
    body {
    font-family: Verdana, sans-serif;
    background-color: darkgrey;
    }
    h1, h2, h3, p {
    color: rgb(0, 0, 0);
    }
    footer {
    font-family: Arial;
    }
    nav ul li{
    list-style-type: none;
    display: inline;
    padding-right: .2%;
    }

    nav ul li a:hover, a.active{
    background-color: rgb(160, 160, 160);
    border-radius: 15px;
    }

}

header{
	  background-image: url('pictures/brownies2.png');
	  background-repeat: no-repeat;
	  background-size: cover;
	  }

