@media only screen and (max-width: 768px) {
    body {
    font-family: Verdana;
    background-color: darkgrey;
    }
    h1 {
    color: darkorange;
    }
    p {
    color: darkred;
    }
    footer {
    font-family: Arial;
    }
    nav ul li{
    list-style-type: none;
    float: none;
    }
}

@media only screen and (min-width: 768px) {
    body {
    font-family: Verdana;
    background-color: darkgrey;
    }
    h1 {
    color: darkorange;
    }
    p {
    color: darkred;
    }
    footer {
    font-family: Arial;
    }
    nav ul li{
    list-style-type: none;
    display: inline;
    }
}

@media only screen and (min-width: 1200px) {
    body {
    font-family: Verdana;
    background-color: darkgrey;
    }
    h1 {
    color: darkorange;
    }
    p {
    color: darkred;
    }
    footer {
    font-family: Arial;
    }
    nav ul li{
    list-style-type: none;
    display: inline;
    padding: 20px;
    }
    li a:hover {
    background-color: rgb(97, 97, 97);
    }
}